 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<style>
    .title-head{
        font-size: 1.7rem;
        color: rgb(43, 128, 226);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
    }
    .title-head:hover {
    color: rgb(255, 255, 255);
  }

  .titles {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    font-weight: 800 !important;
    font-size: 1rem !important;
    color: rgb(255, 255, 255) !important;
  }

  .logout {
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    transition: .5s;
  }

  .logout:hover {
    color: red !important;
    background: white !important;
    transition: .5s;
    border: 1px solid rgb(250, 250, 250) !important;
  }

  .logout {
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    transition: .5s;
  }
  .toggler{
    color:white;
    background:rgb(43, 128, 226);
  }
  .na{
    position: fixed;
  }
  .start{
    margin-top: 15vh;
  }
  .editOptions{
    color: black;
    font-family: monospace;
    font-weight: 500;
    transition: .15s;
  }
  .editOptions:hover{
    background: rgb(43, 128, 226);
    color: aliceblue;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    transition: .15s;
  }
  body{
        margin: 0%;
        padding: 0%;
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(420deg,#f3f4f5,#4bad44);
        height: 100vh;
        overflow: hidden;
    }
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        background: white;
        border-radius: 10px;
    }
    .center h1{
        text-align: center;
        padding:0 0 20px 0;
        border-bottom: 1px solid silver;
    }
    .center form{
        padding: 0 40px;
        box-sizing: border-box;
    }
    form .text-field{
       position: relative;
       border-bottom: 2px solid rebeccapurple;
       margin:30px 0;
    }
    .text-field input{
        width:100%;
        padding:0 5px;
        height: 40px;
        font-size: 1rem;
        border:none;
        background: none;
        outline:none;
        color: #270f32;
        letter-spacing: 1.7px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
    .text-field label{
        position: absolute;
        top: 50%;
        left: 5px;
        color: rgb(110, 110, 110);
        transform: translateY(-50%);
        font-size: 1rem;
        pointer-events: none;
        transition: .5s
    }
    .text-field span::before{
        content: '';
        position:absolute;
        top: 40px;
        left: 0;
        width: 0%;
        height: 2px;
        background: #2980b9;
        transition: .5s;
    }
    .text-field input:focus ~ label,
    .text-field input:valid ~ label{
        top: -5px;
        color:#2980b9 ;
    }
    .text-field input:focus ~ span::before,
    .text-field input:valid ~ span::before{
        width: 100%;
    }
    .pass{
        margin:-5px 0 20px 5px;
        color:#a6a6a6;
        cursor: pointer;
    }
    .pass:hover{
        text-decoration: underline;
    }
    input[type="submit"]{
        width: 100%;
        border: 1px solid;
        height: 50px;
        background: #2691d9;
        border-radius: 25px;
        font-size: 1.2rem;
        color: #e9f4fb;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        margin-bottom: 4vh;
    }
</style>

<body>
    
    <nav class="navbar navbar-expand-lg bg-dark  fixed-top">
        <div class="container-fluid  ">
            <a class="navbar-brand title-head" href="#">The Admin Panel!</a>
            <button class="navbar-toggler toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active titles" aria-current="page" href="#">Where you edit the products and
                            no one is gonna ask!!!</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active titles"
                            style="color: rgb(43, 128, 226) !important; fontweigth: 700px !important; font-size:1.3rem !important;"
                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Edit Options
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item editOptions" href="/">Back to Home</a></li>
                            <li><a class="dropdown-item editOptions" href="/editProducts">Show All Users</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item editOptions" href="#">Something else here</a></li>
                        </ul>
                </ul>
                <a href="/logout"><button class="btn btn-danger logout">Logout</button></a>
            </div>
        </div>
    </nav>
    <!---The end of nav-->
    <div class="container start">
        {{!-- enctype="multipart/form-data" --}}
      {{!-- <h1>{{edit_succ}} {{edit_fail}}</h1>   --}}
     {{!-- <p style="text-align:center ; color:rgb(255, 0, 0);font-family:Arial, Helvetica, sans-serif;font-weight:600">{{edit-msg}}</p>  --}}
        <form action="/editedUser/{{user._id}}" method="post" id="form" >
            <div class="text-field">
                <input type="text" name="name" id="name" value="{{user.name}}" required>
                <span></span>
                <label for="">New User Name</label>
            </div>
            <div class="text-field">
                <input type="email" name="email" id="email" value="{{user.email}}" required>
                <span></span>
                <label for="">New Email</label>
            </div>
            <div class="text-field">
                <input type="password" name="password" id="password" required>
                <span></span>
                <label for="">New Password</label>
            </div>
            <div id="error" style="color:red;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-align:center;"></div>
          
            <input type="submit" value="Update User Account">
           
        </form>
    </div>
    <script>
        const name = document.getElementById('name')
        const password = document.getElementById('password')
        const form = document.getElementById('form')
        const errorElement = document.getElementById('error')

        form.addEventListener('submit',(e)=>{
            let messages = []
            if(password.value.length<=2) messages.push('Passwords must atleast contain 3 characters ') 
            if(password.value.length>=20) messages.push('password cant be longer than 19 characters')  
            if(name.value==null) messages.push('null value cant be considered as a valid username')
            if(name.value.trim()=="") messages.push('This kind of Usernames are not allowed')
            if(password.value.trim()=="") messages.push('This kind of passwords are not allowed')
            if(messages.length>0){
                 e.preventDefault()
                 errorElement.innerText = messages.join('+')
            }  
        })
    </script>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>

</html>